prefer-no-csd
include "conf/animations.kdl"
include "conf/autostart.kdl"
include "conf/binds.kdl"
include "conf/envs.kdl"
include "conf/input.kdl"
include "conf/output.kdl"
include "conf/rules.kdl"
include "conf/workspaces.kdl"

// If using niri newer than 271534e115e5915231c99df287bbfe396185924d (~aug 17 2025)
// you can add this to disable built in config load errors since dank shell provides this
config-notification {
    disable-failed
}


// ================================ OVERVIEW ================================
overview{
    zoom 0.35
    backdrop-color "#46487aff"
}


// ================================ LAYOUT ================================
layout {
    gaps 10                                     // gaps around (inside and outside) windows in logical pixels
    background-color "transparent"              // background color of the layout area      
    center-focused-column "never"               // never center a column on a screen when changing focus
    always-center-single-column                 // always center a single column on a screen
    default-column-width { proportion 1.0; }    // default width of the new windows (100 % of the column)
    preset-column-widths {                      // the widths that the switch-preset-column-width action (Mod+R) toggles between
        // proportion 0.33333
        proportion 0.5
        // proportion 0.66667
        proportion 1.0
    }
    preset-window-heights {                     // the heights that the switch-preset-window-height action (Mod+Shift+R) toggles between
        // proportion 0.33333
        proportion 0.5
        // proportion 0.66667
        proportion 1.0
    }

    focus-ring {                                // focus ring are drawn around windows and indicate the active window
        width 3                                 // width of the focus ring in logical pixels
        // width of the focus ring in logical pixels  
        // active-color "#7fc8ff"
        // inactive-color "#505050"
        active-gradient from="#16ffed" to="#792faaff" angle=45 in="oklch shorter hue" // active gradient color of the focus ring
    }

    shadow {                                    // shadow drawn below windows
        on                                      // enable window shadows (off to disable)
        softness 200                            // softness of the shadow
        spread 70                               // distance to expand the window rectangle in logical pixels
        offset x=0 y=5                          // moves the shadow relative to the window in logical pixels
        color "#0007"                         // color of the shadow
    }

    insert-hint {                               // settings for the window insert position hint during an interactive window move
        gradient from="#16ffed" to="#792faaff" angle=45 in="oklch shorter hue" relative-to="workspace-view"
    }
    
    struts {                                    // shrink the area occupied by windows, similarly to layer-shell panels
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}