
// ░█████╗░██╗░░░██╗████████╗░█████╗░░██████╗████████╗░█████╗░██████╗░████████╗
// ██╔══██╗██║░░░██║╚══██╔══╝██╔══██╗██╔════╝╚══██╔══╝██╔══██╗██╔══██╗╚══██╔══╝
// ███████║██║░░░██║░░░██║░░░██║░░██║╚█████╗░░░░██║░░░███████║██████╔╝░░░██║░░░
// ██╔══██║██║░░░██║░░░██║░░░██║░░██║░╚═══██╗░░░██║░░░██╔══██║██╔══██╗░░░██║░░░
// ██║░░██║╚██████╔╝░░░██║░░░╚█████╔╝██████╔╝░░░██║░░░██║░░██║██║░░██║░░░██║░░░
// ╚═╝░░╚═╝░╚═════╝░░░░╚═╝░░░░╚════╝░╚═════╝░░░░╚═╝░░░╚═╝░░╚═╝╚═╝░░╚═╝░░░╚═╝░░░


// Required for clipboard history integration
spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"

// Recommended (must install polkit-mate before hand) for elevation prompts
spawn-at-startup "/usr/lib/mate-polkit/polkit-mate-authentication-agent-1"
// This may be a different path on different distributions, the above is for the arch linux mate-polkit package

// Starts DankShell
spawn-at-startup "dms" "run"

// Apps 
// spawn-at-startup "waybar"
spawn-at-startup "syncthing"
spawn-sh-at-startup "clipse -listen"
spawn-sh-at-startup "killall xdg-desktop-portal xdg-desktop-portal-gtk xdg-desktop-portal-gnome xdg-desktop-portal-kde"
