
// ██╗███╗░░██╗██████╗░██╗░░░██╗████████╗
// ██║████╗░██║██╔══██╗██║░░░██║╚══██╔══╝
// ██║██╔██╗██║██████╔╝██║░░░██║░░░██║░░░
// ██║██║╚████║██╔═══╝░██║░░░██║░░░██║░░░
// ██║██║░╚███║██║░░░░░╚██████╔╝░░░██║░░░
// ╚═╝╚═╝░░╚══╝╚═╝░░░░░░╚═════╝░░░░╚═╝░░░


input {
    focus-follows-mouse max-scroll-amount="80%" // Focuses windows under cursor, max-scroll-amount=0 for not change focus at the borer of the window when fullscreen
    warp-mouse-to-focus mode="center-xy"        // Makes the mouse warp to newly focused windows
    workspace-auto-back-and-forth               // switching to the same workspace by index twice will switch back to the previous workspace
    keyboard {
        xkb {
            layout "pl,ru"                         
            /**
            Super+Space to switch layout
            swap Ctrl and Alt buttons
            swap Esc and CapsLock 
            */
            options "grp:win_space_toggle, ctrl:swap_lalt_lctl, caps:swapescape"
        }
        numlock                                 // Turn on Num Lock automatically at startup
    }

    touchpad {
        natural-scroll                          // Inverts the scrolling direction (2 fingers swipe up for scroll down)
        accel-speed 0.1                         // Pointer acceleration speed
        scroll-factor 0.4                       // Scales the scrolling speed by this value
        tap                                     // Tap-to-click
        middle-emulation                        // Left and right mouse buttons at once
        //drag-lock                             // Lifting the finger off for a short time while dragging will not drop the dragged item
    }

    tablet {
        map-to-output "eDP-1"
    }
}

cursor {                                        // Change the theme and size of the cursor as well as set the XCURSOR_THEME and XCURSOR_SIZE environment variables
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
    hide-after-inactive-ms 3000                 // The cursor will automatically hide once this number of milliseconds passes since the last cursor movement
}

hotkey-overlay {                                // Settings for the "Important Hotkeys" overlay
    skip-at-startup                             // If you don't want to see the hotkey help at niri startup
}

gestures {
    hot-corners {
        off                                     // Disable hot corners
    }
}