
// ██╗░░░░░░░██╗░█████╗░██████╗░██╗░░██╗░██████╗██████╗░░█████╗░░██████╗███████╗░██████╗
// ██║░░██╗░░██║██╔══██╗██╔══██╗██║░██╔╝██╔════╝██╔══██╗██╔══██╗██╔════╝██╔════╝██╔════╝
// ╚██╗████╗██╔╝██║░░██║██████╔╝█████═╝░╚█████╗░██████╔╝███████║██║░░░░░█████╗░░╚█████╗░
// ░████╔═████║░██║░░██║██╔══██╗██╔═██╗░░╚═══██╗██╔═══╝░██╔══██║██║░░░░░██╔══╝░░░╚═══██╗
// ░╚██╔╝░╚██╔╝░╚█████╔╝██║░░██║██║░╚██╗██████╔╝██║░░░░░██║░░██║╚██████╗███████╗██████╔╝
// ░░╚═╝░░░╚═╝░░░╚════╝░╚═╝░░╚═╝╚═╝░░╚═╝╚═════╝░╚═╝░░░░░╚═╝░░╚═╝░╚═════╝╚══════╝╚═════╝░


workspace "_media" {
  open-on-output "HDMI-A-1"
}

workspace "browser" {
  open-on-output "HDMI-A-1"
}

workspace "ide" {
  open-on-output "HDMI-A-1"
}

workspace "notes" {
  open-on-output "eDP-1"
}